body {
    background-color: rgba(0, 0, 0, 0.356);
}

.box1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    border-color: black;
    width: 500px;
    height: 500px;
    background-color: green;
    
}

.box2 {
    display: flex;
    border-color: white;
    width: 50%;
    height: auto;
    background-color: red;
    margin: 10px;
    padding: 10px;
}

.box3 {
    display: flex;
    border-color: white;
    width: 50%;
    height: auto;
    background-color: red;
    margin: 10px;
    padding: 10px;
}