body {
    font-size: 18px;
    padding: 0 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(19, 28, 61);
    color: #4ab3c5;
    margin: 0;
}

.index-body {
    background-image: url(images/ai/darkcity2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-page-body {

    background-image: url(../my\ website/images/ai/darkcity1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1d2340;
    color: #fff;
    padding: 10px 0;
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.767);

}

.brand {
    margin-left: 10px;
    margin-right: auto;
    font-weight: bold;
    font-size: 30pxpx;
    color: #4ab3c5;
    font-size: 30px;
    font-weight: bold;
}

.nav-link {
    color: #4ab3c5;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 25px;
}

.nav-link:hover {
    color: #15f10e;
    background-color: #18306d;
    transform: scale(1.1);
}

h2 {
    text-align: center;
    color: #4ab3c5 ;
    margin-top: 100px;
    margin-bottom: 30px;
}

.about-me,
.project-card {
    display: flex;
    background-color: rgba(53, 63, 116, 0.6);
    padding: 30px;

}

.project-image {
    display: flex;
    padding: 20px;
    max-width: 70%;
}

.project-thumb-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25%;
}

#about-me p {
    font-size: 1.1em;
    line-height: 1.6;
}

#about-me p:first-child {
    font-weight: bold;
}

.project-card img {
    display: flex;
    justify-content: center;
    align-items: cen;
    max-width: 100%;
    height: auto;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 200px;
}

ul {
    list-style-type: circle;
    /* Remove default bullet */
    padding: 20px;
    font-size: 16px;

}

.project-thumb-info ul {
    color: #4ab3c5;
    margin-left: 10px;
}

#projects-dropdown {
    background-color: #131c3d;
    color: #4ab3c5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 25%;
    justify-content: center;
}

#projects-dropdown option:first-child {
display: flex;
justify-content: center;
align-items: center;
}


#projects-dropdown option:hover {
    background-color: #e0e0e00c;
    color: #555;
}

#projects-dropdown:hover {
    border-color: #15f10e;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Center the dropdown box on the page */
.project-list-items {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 150px;

}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1d2340;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}